$black: #191919

@font-face
  font-family: "marker-mark"
  src: url('/fonts/MarkerMark-Regular.otf')

@font-face
  font-family: "mtt"
  src: url('/fonts/MTT.otf')

html body
  margin: 0
  font-family: mtt

.Header
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black

.Header > p
  padding: 128px 64px
  font-size: 26px
  color: white

.Menus
  padding: 128px 64px
  background: white
  display: flex
  align-items: center
  flex-direction: column

.Menus-section
  max-width: 360px
  width: 100%

.Menus-dish
  display: flex
  justify-content: space-between
  align-items: center

.Menus-dish > p
  font-family: marker-mark
  font-size: 24px
  margin: 0
  text-align: left

.Menus-dish-bullet
  padding-top: 6px
  padding-right: 10px
  align-self: flex-start

.Menus-dish-name
  padding-right: 10px
  width: 100%

.Menus-dish-name.alt
  text-align: right
  padding-right: 20px !important

.Menus-dish-price
  font-size: 18px
  padding-bottom: 5px
  flex-shrink: 0
  align-self: flex-end
